<template>
	<q-page>
		<q-toolbar class="bg-primary text-white">
			<div class="centre">
				<q-toolbar-title>{{ $t('cookie.title') }}</q-toolbar-title>
			</div>
		</q-toolbar>
		<div class="text-center">{{ $t('cookie.body') }}</div>
	</q-page>
</template>

<script>
	export default {
		// name: 'PageName',
	};
</script>

<style lang="css" scoped>
	.centre {
		float: left;
		width: 100%;
		text-align: center;
	}
	.centre::after {
		clear: left;
	}
	.text-center {
		margin-top: 2em;
	}
</style>
