<template>
	<q-page
		class="flex flex-center"
	>If you are seeing this page something that wasn't supposed to happen happened. I don't know how it happened, I don't know why it happened. I'd say report it to the webadmin and go back to the homepage.</q-page>
</template>

<script>
	export default {
		name: "PageIndex"
	};
</script>
