<template>
	<div class="q-pa-md pageCentreClass">
		<q-form @submit="onSubmit" class="q-gutter-md">
			<q-list padding>
				<div>{{ $t('account.username') }}</div>
				<q-input filled v-model="name" lazy-rules :rules="nameRules()" />
				<q-separator spaced />
				<div>{{ $t('account.firstname') }}</div>
				<q-input filled v-model="firstname" lazy-rules :rules="nameRules()" />
				<div>{{ $t('account.lastname') }}</div>
				<q-input filled v-model="lastname" lazy-rules :rules="nameRules()" />
				<q-separator spaced />
				<div>{{ $t('account.email') }}</div>
				<q-input filled v-model="mail" lazy-rules type="email" :rules="emailRules()" />
				<q-separator spaced />
				<div>{{ $t('account.password') }}</div>
				<q-input
					v-model="password1"
					filled
					:type="isPwd1 ? 'password' : 'text'"
					:rules="passwordRules()"
				>
					<template v-slot:append>
						<q-icon
							:name="isPwd1 ? 'visibility_off' : 'visibility'"
							class="cursor-pointer"
							@click="isPwd1 = !isPwd1"
						/>
					</template>
				</q-input>
				<q-input
					v-model="password2"
					filled
					:type="isPwd2 ? 'password' : 'text'"
					:rules="passwordNotEqual()"
				>
					<template v-slot:append>
						<q-icon
							:name="isPwd2 ? 'visibility_off' : 'visibility'"
							class="cursor-pointer"
							@click="isPwd2 = !isPwd2"
						/>
					</template>
				</q-input>
				<q-separator spaced />

				<q-toggle v-model="accept" label="I accept the license and terms" />

				<div>
					<q-btn label="Submit" type="submit" color="primary" :click="onSubmit" />
				</div>
			</q-list>
		</q-form>
	</div>
</template>

<script>
	import loginFn from "../js/loginFunctions";
	import fetchFn from "../js/fetch";
	import { eventBus } from "../js/event";
	export default {
		// name: 'ComponentName',
		data() {
			return {
				name: "",
				mail: "",
				password1: "",
				password2: "",
				firstname: "",
				lastname: "",
				accept: false,
				isPwd1: true,
				isPwd2: true,
				APIURL: "http://localhost:3000"
			};
		},
		methods: {
			onSubmit: async function(event) {
				event.preventDefault();
				if (
					this.name.length < 0 ||
					!(this.mail.includes("@") && this.mail.includes(".")) ||
					this.password1.length < 6 ||
					this.password1 !== this.password2 ||
					!this.accept
				) {
					this.$fire({
						title: this.$i18n.t("error.registerWrongTitle"),
						html: this.$i18n.t("error.registerWrongBody"),
						showCloseButton: true
					});
				}

				try {
					let userAlreadyExists = await fetchFn.userNameExist(this.name);
					if (userAlreadyExists) {
						this.$alert(
							this.$i18n.t("error.userAlreadyExists"),
							this.$i18n.t("error.error"),
							"error"
						);
						return;
					}
				} catch (e) {
					if (e.status !== 404) {
						// only throw error if status is not 404, 404 is what we expect
						this.$alert(
							this.$i18n.t("error.unexpected"),
							this.$i18n.t("error.error"),
							"error"
						);
					}
				}

				let toHash = this.password2 + this.name;
				let hash = loginFn.hash(toHash);
				let token = loginFn.generateLoginToken(this.name);
				let date = new Date();
				date.setDate(date.getDate() + 7);

				let toPut = {
					id: this.name,
					passwordHash: hash,
					email: this.mail,
					firstname: this.firstname,
					lastname: this.lastname,
					activeTokens: [{ token: token, validUntil: date }],
					roles: ["role001"]
				};

				try {
					let resp = await fetchFn.postUser(toPut);
					if (!resp) {
						throw resp;
					}
				} catch (e) {
					this.$fire({
						title: this.$i18n.t("error.error"),
						html: this.$i18n.t("error.unexpected"),
						showCloseButton: true
					});
					return;
				}

				this.$q.cookies.set("loginToken", token, {
					expires: 14,
					path: "/"
				});
				eventBus.$emit("tokenSet", token);
				this.$fire({
					title: "Success",
					type: "success",
					timer: 2500
				}).then(r => {
					this.$router.push({ path: "/" });
				});
			},
			nameRules: function() {
				return [
					val =>
						(val && val.length > 0) ||
						this.$i18n.t("error.typeSomething")
				];
			},
			emailRules: function() {
				return [
					this.nameRules(),
					val =>
						(val.includes("@") && val.includes(".")) ||
						this.$i18n.t("error.invalidEmail")
				];
			},
			passwordRules: function() {
				return [
					val =>
						(val && val.length > 5) || this.$i18n.t("error.pwTooShort")
				];
			},
			passwordNotEqual: function() {
				return [
					val =>
						(val && val === this.password1) ||
						this.$i18n.t("error.pwNotEqual")
				];
			}
		}
	};
</script>

<style scoped>
	.pageCentreClass {
		width: 100%;
		padding: 1em 10% 0 10%;
	}
</style>
