<template>
	<div class="q-pa-md pageCentreClass">
		<q-form @submit="onSubmit" class="q-gutter-md">
			<q-list padding>
				<div class="text-h6">{{$t('room.resetPwTitle')}}</div>
				<q-separator spaced />

				<div>{{ $t('account.username') }}</div>
				<q-input filled v-model="name" />
				<q-separator spaced />

				<div>{{ $t('account.email') }}</div>
				<q-input filled v-model="mail" type="email" />
				<q-separator spaced />

				<q-btn :label="$t('account.resetPassword')" type="submit" color="primary" />
			</q-list>
		</q-form>
	</div>
</template>

<script>
	export default {
		name: "ResetPassword",
		data() {
			return {
				name: "",
				mail: ""
			};
		},
		methods: {
			onSubmit: async function(event) {
				if (this.name === "" && this.mail === "") {
					this.$alert(
						this.$i18n.t("error.typeSomething"),
						this.$i18n.t("error.error"),
						"error"
					);
					return;
				}
				this.$fire({
					title: this.$i18n.t("success"),
					html: this.$i18n.t("account.pwWillBeReset"),
					type: "success"
				});
				this.$router.push({ path: "/" });
			}
		}
	};
</script>
