<template>
	<q-page v-if="isAllowed" padding>
		<q-list bordered separator v-if="joinedArray.length === users.length">
			<q-item v-for="user in joinedArray" :key="user.id">
				<q-item-section>
					<q-item-label overline>{{user.id}}</q-item-label>
					<div>
						<span v-for="role in user.roles" :key="role.id">
							<span v-show="$i18n.locale === 'en'">{{role.desc_en}}</span>
							<span v-show="$i18n.locale === 'nl'">{{role.desc_nl}}</span>
							&nbsp;
							<span v-if="user.removingRole">
								<q-btn round size="xs" icon="remove" color="red" @click="confirmRemove(role, user)" />&nbsp;
							</span>
						</span>
						<q-btn-dropdown v-if="user.addingRole" color="primary" :label="$t('role.select')">
							<q-list>
								<q-item
									v-for="rt in roleTypes"
									:key="rt.id"
									clickable
									v-close-popup
									v-show="!user.roles.some(u => u.id === rt.id)"
									@click="confirmNewRole(rt, user)"
								>
									<q-item-section>
										<span v-show="$i18n.locale === 'en'">{{rt.desc_en}}</span>
										<span v-show="$i18n.locale === 'nl'">{{rt.desc_nl}}</span>
									</q-item-section>
								</q-item>
							</q-list>
						</q-btn-dropdown>
					</div>
				</q-item-section>
				<q-item-section side>
					<div>
						<q-btn round size="xs" icon="add" color="green" @click="user.addingRole = true" />&nbsp;
						<q-btn round size="xs" icon="remove" color="red" @click="user.removingRole = true" />
					</div>
				</q-item-section>
			</q-item>
		</q-list>
	</q-page>
</template>

<script>
	import fetchFn from "../js/fetch";
	import { eventBus } from "../js/event.js";

	export default {
		name: "Usermanamgment",
		data() {
			return {
				users: [],
				roleTypes: [],
				joinedArray: [],
				isAllowed: false
			};
		},
		async created() {
			eventBus.$on("tokenSet", async token => {
				this.isAllowed = await this.isAllowedFnc();
			});
			eventBus.$on("tokenRemoved", async token => {
				try {
					let hasToken = this.$q.cookies.has("loginToken");
					let isAdmin;
					if (hasToken) {
						isAdmin = await fetchFn.isAdminUser(
							this.$q.cookies.get("loginToken")
						);
					}
					if (!isAdmin || !hasToken) {
						throw new Error("Not allowed");
					}
				} catch (e) {
					this.isAllowed = false;
				}
			});
			this.isAllowed = await this.isAllowedFnc();
			this.loadData();
		},
		methods: {
			async isAllowedFnc() {
				try {
					let hasToken = this.$q.cookies.has("loginToken");
					let isAdmin;
					if (hasToken) {
						isAdmin = await fetchFn.isAdminUser(
							this.$q.cookies.get("loginToken")
						);
					}
					if (!isAdmin || !hasToken) {
						throw new Error("Not allowed");
					}
					return true;
				} catch (e) {
					this.$alert(
						this.$i18n.t("error.notAllowed"),
						this.$i18n.t("error.error"),
						"error"
					);
					this.$router.push({ path: "/" });
					return false;
				}
			},
			async loadData() {
				this.users = await fetchFn.getUsers();
				this.roleTypes = await fetchFn.getRoles();

				for (let i = 0; i < this.users.length; i++) {
					const user = this.users[i];
					let joinedUser = {
						id: user.id,
						addingRole: false,
						removingRole: false,
						roles: []
					};
					for (let k = 0; k < user.roles.length; k++) {
						const userRole = user.roles[k];
						for (let j = 0; j < this.roleTypes.length; j++) {
							const role = this.roleTypes[j];

							if (role.id === userRole) {
								joinedUser.roles.push({
									id: role.id,
									desc_en: role.desc_en,
									desc_nl: role.desc_nl
								});
							}
						}

						if (!this.joinedArray.some(u => u.id === joinedUser.id)) {
							this.joinedArray.push(joinedUser);
						}
					}
				}
			},
			confirmRemove(role, user) {
				user.roles.splice(user.roles.indexOf(role), 1);
				user.removingRole = false;
				this.updateUser(user);
			},
			confirmNewRole(roleType, user) {
				user.roles.push(roleType);
				user.addingRole = false;
				this.updateUser(user);
			},
			async updateUser(user) {
				try {
					let originalUser = await fetchFn.getUserById(user.id);

					while (originalUser.roles.length > 0) {
						originalUser.roles.pop();
					}

					user.roles.forEach(role => {
						originalUser.roles.push(role.id);
					});

					let success = await fetchFn.putUser(originalUser);
					if (!success) {
						throw new Error("Failed to put user");
					}
				} catch (e) {
					this.$alert(
						this.$i18n.t("error.unexpected"),
						this.$i18n.t("error.error"),
						"error"
					);
				}
			}
		}
	};
</script>
