<template>
	<div>
		<div class="full-width row wrap justify-center items-start content-center">
			<div
				v-for="room in rooms"
				v-bind:key="room.id"
				class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 q-gutter-sm q-col-gutter-md child"
			>
				<room-card :roomId="room.id" />
			</div>
		</div>
	</div>
</template>

<script>
	import roomCard from "./roomCard";

	export default {
		name: "DepartmentCard",
		data() {
			return {};
		},
		components: {
			roomCard
		},
		props: {
			department: {
				type: Object,
				required: true
			},
			facilities: {
				type: Array,
				required: true
			},
			actions: {
				type: Array,
				required: true
			},
			rooms: {
				type: Array,
				required: true
			}
		}
	};
</script>

<style lang="css" scoped>
	.child {
		overflow: auto;
	}
	.ImgSize {
		max-width: 20em;
		height: 16em;
	}
</style>
