<template>
	<q-layout view="lHh Lpr lFf">
		<q-header elevated reveal>
			<q-toolbar>
				<q-btn
					flat
					dense
					round
					v-ripple
					@click="leftDrawerOpen = !leftDrawerOpen"
					icon="menu"
					aria-label="Menu"
				/>
				<q-toolbar-title>{{$t("pageTitle")}}</q-toolbar-title>

				<div>
					<q-btn-dropdown v-ripple flat>
						<template v-slot:label>
							<q-icon name="settings" />
						</template>
						<q-list dense>
							<q-item-label header>{{ $t('account.account') }}</q-item-label>
							<q-item tag="label">
								<q-btn
									class="bg-primary"
									v-ripple
									v-if="!loggedIn"
									@click="loginDialog = true"
								>{{ $t('account.login') }}</q-btn>&nbsp;
								<q-btn
									class="bg-primary"
									v-ripple
									v-if="!loggedIn"
									@click="registerAction()"
								>{{ $t('account.register') }}</q-btn>
								<q-btn
									v-ripple
									class="bg-primary"
									v-if="loggedIn"
									@click="logout()"
								>{{ $t('account.logout') }}</q-btn>
							</q-item>
							<q-separator spaced />

							<q-item-label header>{{ $t('language.language') }}</q-item-label>
							<q-item tag="label">
								<q-btn-dropdown v-ripple class="full-width bg-primary">
									<template v-slot:label>{{ $t('language.curLang') }}: {{$t('language.langFul')}}</template>
									<q-list>
										<li v-for="language in langs" :key="language.value">
											<q-item clickable v-close-popup @click="changeLanguage(language.value)">
												<q-item-section>
													<q-item-label>{{language.label}}</q-item-label>
												</q-item-section>
											</q-item>
										</li>
									</q-list>
								</q-btn-dropdown>
							</q-item>
							<q-separator spaced />

							<q-item-label header>UI</q-item-label>

							<q-item tag="label" v-ripple>
								<q-item-section>
									<q-item-label>{{ $t('darkMode') }}</q-item-label>
								</q-item-section>
								<q-item-section side>
									<q-toggle dense color="blue" v-model="darkModeModel" />
								</q-item-section>
							</q-item>

							<q-item tag="label">
								<q-btn
									v-ripple
									class="full-width bg-primary"
									:label="$t('room.UIsettings')"
									@click="settingsDialog = true"
								/>
							</q-item>

							<q-separator spaced />
							<q-item-label header>{{ $t('other') }} {{ $t('settingsString') }}</q-item-label>
							<q-item>
								<q-item-section side>
									<q-icon color="teal" name="volume_down" />
								</q-item-section>
								<q-item-section>
									<q-slider v-model="volume" :min="0" :max="10" label color="teal" />
								</q-item-section>
								<q-item-section side>
									<q-icon color="teal" name="volume_up" />
								</q-item-section>
							</q-item>
						</q-list>
					</q-btn-dropdown>
				</div>
			</q-toolbar>
		</q-header>

		<q-drawer
			v-model="leftDrawerOpen"
			:breakpoint="10000"
			bordered
			content-class="bg-primary text-white"
		>
			<q-scroll-area style="height: calc(100% - 150px); margin-top: 150px;">
				<q-list padding>
					<q-item class="text-white" to="/" clickable v-ripple>
						<q-item-section avatar>
							<q-icon name="home" />
						</q-item-section>
						<q-item-section>Home</q-item-section>
					</q-item>

					<q-item v-if="!departmentsLoaded" class="text-white" to="/" clickable v-ripple>
						<q-item-section>{{$t('department')}}</q-item-section>
					</q-item>
					<q-item class="text-white">
						<q-btn-dropdown v-ripple flat v-if="departmentsLoaded" :label="$t('department')">
							<q-list>
								<li clickable>
									<q-item clickable to="/">
										<q-item-section clickable class="text-center text-white">{{$t('overviewScreen')}}</q-item-section>
									</q-item>
								</li>
								<q-separator spaced />
								<li v-for="dep in deps" :key="dep.id" clickable>
									<q-item clickable>
										<q-item-section
											clickable
											class="text-center"
											@click="browseTo($t('departments.'+dep.id))"
										>{{$t('departments.'+dep.id)}}</q-item-section>
									</q-item>
								</li>
							</q-list>
						</q-btn-dropdown>
					</q-item>

					<q-item class="text-white" v-ripple clickable v-if="isAdmin" to="/admin/usermanagment">
						<q-item-section avatar>
							<q-icon name="perm_identity" />
						</q-item-section>
						<q-item-section clickable>{{$t('usermanagment')}}</q-item-section>
					</q-item>
				</q-list>
			</q-scroll-area>
			<q-img class="absolute-top" :src="require('../assets/hospital.jpg')" style="height: 150px">
				<div class="absolute-bottom bg-transparent">
					<div class="text-weight-bold" v-if="!loggedIn">{{$t("account.guestUserLiteral")}}</div>
					<div class="text-weight-bold" v-if="loggedIn">{{username}}</div>
					<div>{{firstname}} {{lastname}}</div>
				</div>
			</q-img>
		</q-drawer>

		<q-page-container>
			<router-view />
		</q-page-container>

		<q-dialog v-model="settingsDialog" persistent maximized>
			<ui-settings />
		</q-dialog>
		<q-dialog v-model="loginDialog">
			<q-card style="min-width: 40em">
				<q-card-section class="bg-primary text-white">
					<div class="text-h6">{{$t('account.login')}}</div>
				</q-card-section>
				<q-separator />
				<q-card-section>
					<login-component @success="loggedInFnc" />
				</q-card-section>
			</q-card>
		</q-dialog>
	</q-layout>
</template>

<script>
	import { eventBus } from "../js/event.js";
	import fetchFn from "../js/fetch.js";
	import loginComponent from "../components/loginComponent";
	import UiSettings from "../components/UiSettings";

	export default {
		name: "RootLayout",
		components: {
			loginComponent,
			UiSettings
		},
		data() {
			return {
				APIURL: "http://localhost:3000",
				darkModeModel: true,
				departmentsLoaded: false,
				firstname: "",
				isAdmin: false,
				lastname: "",
				loginToken: "",
				loggedIn: false,
				leftDrawerOpen: false,
				loginDialog: false,
				settingsDialog: false,
				username: "",
				volume: 5,
				loginInterval: undefined,

				deps: [],
				langs: [
					{
						label: "Nederlands",
						value: "nl"
					},
					{
						label: "English",
						value: "en"
					}
				]
			};
		},
		created() {
			this.loadDeps();

			// login token
			if (this.$q.cookies.has("loginToken")) {
				this.loginToken = this.$q.cookies.get("loginToken");
			}
			this.setUser();
			eventBus.$on("tokenSet", token => {
				this.loginToken = token;
				this.setUser();
			});

			// current language
			if (this.$q.cookies.has("lang")) {
				this.$i18n.locale = this.$q.cookies.get("lang");
			}

			// dark mode
			if (this.$q.cookies.has("darkmode")) {
				this.darkModeModel = this.$q.cookies.get("darkmode");
			}

			// room UI settings
			eventBus.$on("roomUISettings", token => {
				this.settingsDialog = false;
			});

			// cookie consent
			if (!this.$q.cookies.has("cookieConcent")) {
				this.$q.cookies.set("cookieConcent", false, {
					expires: 365,
					path: "/"
				});
			}

			if (!this.$q.cookies.get("cookieConcent")) {
				let html =
					this.$i18n.t("cookieConsent.body") +
					" <q-side-link tag='a' to='/cookies'>" +
					this.$i18n.t("here") +
					"</q-side-link>";
				this.$fire({
					title: this.$i18n.t("cookieConsent.title"),
					html: html,
					showCloseButton: false,
					showCancelButton: true,
					focusConfirm: true,
					confirmButtonText: this.$i18n.t("cookieConsent.confirm"),
					cancelButtonText: "details",
					type: "info"
				}).then(r => {
					let res = r.dismiss;
					if (typeof res !== "undefined") {
						this.$router.push({ path: "cookies" });
					}
					this.$q.cookies.set("cookieConcent", true, {
						expires: 365,
						path: "/"
					});
				});

				this.checkIsAdmin();
			}
		},
		watch: {
			darkModeModel(val) {
				this.$q.dark.set(val);
				this.$q.cookies.set("darkmode", val, {
					expires: 365,
					path: "/",
					sameSite: "Strict"
				});
			},
			volume(val) {
				eventBus.$emit("volumeChanged", val);
			},
			loginToken() {
				if (this.loginInterval) {
					clearInterval(this.loginInterval);
				}
				if (this.token !== "") {
					this.loginInterval = setInterval(
						this.loginIntervalFunction,
						3000
					);
				}
			}
		},
		methods: {
			loginIntervalFunction() {
				this.setUser(true);
			},
			loggedInFnc() {
				this.loginDialog = false;
			},
			async checkIsAdmin() {
				let isAdmin = await fetchFn.isAdminUser(
					this.$q.cookies.get("loginToken")
				);
				this.isAdmin = isAdmin;
			},
			async setUser(autologout = false) {
				if (this.$q.cookies.has("loginToken")) {
					try {
						let user = await fetchFn.getUserByToken(
							this.$q.cookies.get("loginToken")
						);

						this.username = user.id;
						this.firstname = user.firstname;
						this.lastname = user.lastname;
						this.checkIsAdmin();
						this.loggedIn = true;
					} catch (e) {
						this.clearUserData();
						try {
							let body = this.$i18n.t("error.unexpected");
							if (autologout) {
								body = this.$i18n.t("error.logout");
							}
							this.$alert(body, this.$i18n.t("error.error"), "error");
						} catch (e) {}
					}
				} else {
					this.clearUserData();
				}
			},
			clearUserData() {
				this.username = "";
				this.firstname = "";
				this.lastname = "";
				this.loginToken = "";
				this.loggedIn = false;
				this.isAdmin = false;
				this.$q.cookies.remove("loginToken");
				eventBus.$emit("tokenRemoved", true);
			},
			async logout() {
				try {
					let tokenRemoved = await fetchFn.deleteUserToken(
						this.$q.cookies.get("loginToken")
					);
					if (tokenRemoved) {
						this.clearUserData();
						eventBus.$emit("tokenSet", "");
						this.$fire({
							title: "Success",
							type: "success",
							timer: 2500
						});
					} else {
						throw "Failed"; // eslint-disable-line no-throw-literal
					}
				} catch (e) {
					if (e === "User not found") {
						this.$q.cookies.remove("loginToken");
						this.loginToken = "";
						this.loggedIn = false;
					}
					this.$alert(
						this.$i18n.t("error.unexpected"),
						this.$i18n.t("error.error"),
						"error"
					);
				}
			},
			changeLanguage(lang) {
				this.$i18n.locale = lang;
				this.$q.cookies.set("lang", lang, {
					expires: 365,
					path: "/"
				});
			},
			browseTo(depId) {
				this.$router.push({ name: "department", params: { id: depId } });
			},
			loadDeps: async function() {
				this.deps = await fetchFn.getDepartments();
				this.departmentsLoaded = true;
			},
			registerAction() {
				this.$router.push({ path: "/register" });
			}
		}
	};
</script>
